/* PAGE */
body,
.pure-g [class*=pure-u] {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
  font-family: 'Oswald', 'Arial Narrow', sans-serif;
}

body {
  font-family: sans-serif !important;
  margin: 0;
  position: relative;
}

.padding-top-sm {
  padding-top: 10px;
}

.padding-btm-sm {
  padding-bottom: 10px;
}

/** overriding all the bootstrap stuff **/
.navbar {
  z-index: 10;
  min-width: 100% !important;
  position: sticky !important;
  top: 0 !important;
  font-family: sans-serif !important;
  background: #1e345d !important;

  a {
    color: white !important;
  }
}

code {
  display: block;
  margin: 20px 0 15px 0;
  padding: 10px;
  background: #eee;
}

.wrapper {
  padding: 0 20px;
}

.container {
  box-sizing: border-box;
  width: 100%;
  padding: 45px 20px;
}

.pure-button-primary {
  background-color: #0c1a2b;
}

.pure-button-primary:hover {
  background-color: #233e5e;
}

.pure-form input[type="text"]:focus {
  border-color: #0c1a2b;
}

/* NAVBAR */

.nav-bar-custom .container {
  padding: 0px 10px !important;
}

.navbar {
  position: fixed;
  padding: 5px;
  background: #0c1a2b;
  font-family: 'Oswald', 'Arial Narrow', sans-serif;
}

.navbar-default .navbar-brand {
  color: white !important;
}

.navbar-default .navbar-nav>li>a {
  color: white !important;
}

.navbar a {
  color: white;
}

.navbar a:active,
.navbar a:focus,
.navbar a:hover {
  background: #233e5e;
}

.navbar .pure-menu-heading {
  font-weight: bold;
  text-transform: none;
}

.navbar .navbar-right {
  float: right;
}

.navbar .uport-logo {
  height: 16px;
  margin-right: 10px;
}
